.no_pre a{vertical-align:middle}
.m_klasor_list{width:20%;float:left;position:relative}
.m_klasor_list .oge{text-align:center;display:block;height:120px;margin:7px;padding:10px;border: 1px dotted transparent;}
.m_klasor_list .oge:hover{text-decoration:none}
.m_klasor_list .oge:focus{text-decoration:none;background-color:transparent}
.m_klasor_list .sag_menu{position:absolute; top: 10px; right: 10px; margin: 0; padding: 0;}
.m_klasor_list .sag_menu i{color:#f7b14a;line-height: 35px;}
.ust_sag_menu{position:absolute;list-style:none;top: 9px;right: 9px;margin: 0;padding: 0;}
.m_klasor_list .dosya_isim{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;font-size:14px}
#m_dosya_agac{padding-right: 110px;}
.m_klasor_list .dosya_simge{margin-bottom:7px}
.m_klasor_list .dosya_simge div{line-height: 70px}
.m_klasor_list .dosya_simge i{font-size:65px;color:#f7b14a}
.m_klasor_list .dosya_simge img{max-width:100%;max-height:70px}
.m_dosya_sol {float: left;width: 100%; overflow-x: hidden;  overflow-y: auto;}
.m_dosya_sag {display: none;float: right;margin: 7px 0;padding: 0 0 10px 10px; min-height: 190px}
.m_sag_iptal {display: none}
.m_hata_cizgi{border:0!important;background-image:linear-gradient(to bottom right,transparent calc(50% - 1px),red,transparent calc(50% + 1px))}
.m_dosya_ust{    border-bottom: 2px dotted #ccc;
margin-bottom: 15px;
float: left;
width: 100%;
padding-bottom: 15px;}
.m_dosya_sol_dar {width: 75%;}
.m_dosya_sol_dar .m_klasor_list {width: 25%;}    
.m_dosya_sag_acik{display: inline; width: 25%}
.m_dosyasil_i {float: left; font-size: 20px; margin-right: 5px; cursor: pointer;}
.m_dosyabaslik_b { line-height: 20px; }

@media only screen and (max-width: 991px) {
    .m_klasor_list{width: 25%;}
    .m_dosya_sol_dar .m_klasor_list {width: 33.333%;}
    .m_dosya_sol_dar {width: 70%}  
    .m_dosya_sag_acik{width: 30%}
}
@media only screen and (max-width: 768px) {
    .m_klasor_list{width: 33.33%;}
    .m_dosya_sol_dar .m_klasor_list{width: 50%;}
    .m_dosya_sol_dar {width: 65%}  
    .m_dosya_sag_acik{width: 35%}
}
@media only screen and (max-width: 540px) {
    .m_klasor_list{width: 50%;}
    .m_dosya_sol_dar .m_klasor_list{width: 100%;}
    .m_dosya_sol_dar {width: 50%}  
    .m_dosya_sag_acik{width: 50%}
}    
@media only screen and (max-width: 400px) {
    .m_dosya_sol_dar {display: none;}  
    .m_dosya_sag_acik{width: 100%}
}